*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@media (max-width:3000px) {
    .Account{
        height: max-content;
    }
    .AccountNav{
        width: 100vw;
        height: max-content;
        background-color: #7C1FBF;
    }
    .AccountnavBar{
        width: 90vw;
        height: 60px;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        position: relative;
        z-index: 1;
    }
    
    .AccountnavLogo{
        width: 161px;
        height: 49px;
        background-image: url(../Images/TradExpress.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    .AccountnavCon{
        display: flex;
        align-items: center;
        width: 540px;
        justify-content: space-between;
        color: #FFFFFF;
    }
    
    .AccountnavCon button{
        height:  48px;
        background: none;
        border: none;
        color: #FFFFFF;
    }
    .AccountnavCon p, .AccountnavCon button{
        font: normal normal normal 16px Roboto;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .AccountnavCon .clicked{
        display: inline-block;
        color: #7C20BF;
        padding: 13px 0;
        width: 196px;
        height: 48px;
        background-color: #fff;
        border-radius: 4px;
        text-decoration: none;
    }
    .notClicked{
        color: #fff;
        text-decoration: none;
    }
    .AccountnavBar input, .AccountnavBar label{
        display: none;
    }
    .signUp, .login, .trade, .Welcome{
        width: 100vw;
        height:calc(100vh - 60px);
        max-height: calc(915px - 60px);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .formDiv{
        width: 600px;
        max-width: 87vw;
        height: max-content;
        background-color: #FBF8FD ;
        box-shadow: 0px 2px 3px #000000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 0;
    }
    .formDiv h2{
        text-align: center;
        font: normal normal normal 36px/48px Roboto;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        letter-spacing: 0px;
    }
    .formHead{
        margin: 36px 0 48px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 430px;
        max-width: 82%;
        height: 35px;
        border-radius: 8px;
        background: #E4E4E4 ;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
    .formHead p{
        flex: 1;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
        cursor: pointer;
    }
    .formHead:after{
        content: '';
        position: absolute;
        top: 3px;
        left: 3px;
        width: 49%;
        height: 29px;
        background-color: #FFFFFF;
        border-radius: 8px;
        transition: left 0.3s ease-in-out;
    }
    .formHeadBusiness:after{
        left: calc(51% - 3px);
    }
    form{
        width: max-content;
        height: max-content;
        max-width: 80%;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }
    form input, form button{
        width: 430px;
        max-width: 100%;
        height: 46px;
        background-color: #FFFFFF ;
        border: 0.5px solid #E4E4E4;
        border-radius: 8px;
        padding-left: 20px;
        outline: none;
    }
    form button{
        background-color: #7C20BF ;
        color: #fff;
        border: none;
        padding: 0;
        border-radius: 8px;
    }
    form .firstP{
        width: 314px;
        max-width: 100%;
        text-align: left;
        font: normal normal normal 14px/21px Roboto;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        letter-spacing: 0px;
    }
    form .firstP small{
        font-size: 13px;
    }
    form small{
        color: #7C20BF;
    }
    form a{
        text-decoration: none;
    }
    form Link{
        font: normal normal medium 14px/74px Roboto;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        letter-spacing: 0px;
    }
    /* input#pass{
        -webkit-text-security: disc;
        -moz-text-security: disc;
    } */
    .login{
        height: 700px;
        max-height: calc(100vh - 60px);
    }
    .login .formDiv{
        padding-bottom: 70px;
    }
    .login .formDiv form{
        row-gap: 27px;
    }
    .login .formDiv h2{
        margin: 50px 0;
    }
    .rememberDiv{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .rememberIconDiv{
        width: max-content;
        display: flex;
        font-size: 15px;
    }
    .rememberIconDiv input{
        display: none;
    }
    .rememberIconDiv label{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid;
        position: relative;
        margin-right: 10px;
    }
    .forget{
        color: #7C20BF;
        font-size: 15px;
    }
    .rememberIconDiv label:after{
        content: '';
        position: absolute;
        top: -1px;
        left: -1px;
        background-image: url(../Images/Icon\ awesome-check-circle.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 21px;
        height: 21px;
        display: none;
    }
    .rememberIconDiv input:checked ~ label:after{
        display: inline-block;
    }
    .lastP{
        margin: 0 auto;
        text-align: center;
    }
    .trade{
        height: 760px;
        max-height: calc(100vh - 60px);
    }
    .trade label, .trade h3{
        font: normal normal 500 20px/26px Roboto;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-bottom: 5px;
    }
    .trade .formDiv h2{
        text-align: center;
        font: normal normal normal 36px/48px Roboto;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .trade select{
        width: 100%;
        outline: none;
        border: 0.5px solid #E4E4E4;
        border-radius: 8px;
        background-color: #FFFFFF;
        height: 48px;
        padding: 0 10px;
        font: normal normal normal 18px/24px Roboto;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        letter-spacing: 0px;
    }
    .amountInputDiv{
        width: 100%;
        height: 48px;
        display: flex;
        align-items: flex-start;
    }
    .trade .labelAmount{
        text-align: center;
        font: normal normal normal 18px/24px Roboto;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        height: 100%;
        width: 50px;
        display: inline-block;
        border-radius: 8px;
        border: 0.5px solid #E4E4E4;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        background-color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .trade .Amount{
        display: inline-block;
        width: calc(100% - 50px);
        height: 100%;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        font: normal normal normal 18px/24px Roboto;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .trade form button{
        margin: 30px 0 15px;
    }
    .Welcome{
        overflow-y: hidden;
    }
    .Welcome .formDiv{
        height: 600px;
        max-height: 85vh;
        text-align: center;
        letter-spacing: 0px;
        justify-content: space-around;
    }
    .Welcome .formDiv .firstH2{
        font: normal normal 100 36px/48px Roboto;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .Welcome .formDiv img{
        max-width: 30%;
    }
    .Welcome .formDiv .messageP{
        width: 404px;
        max-width: 80%;
        margin: 0 auto;
        font: normal normal normal 16px/21px Roboto;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .Welcome .formDiv .welcomeButton{
        background-color: #7C20BF;
        border: none;
        border-radius: 8px;
        width: 450px;
        max-width: 85%;
        height: 50px;
        color: #FFFFFF;
        font: normal normal normal 20px/26px Roboto;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .Welcome .formDiv .messageSmall{
        width: 241px;
        max-width: 80%;
        font: normal normal normal 12px/20px Roboto;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .Welcome .formDiv span{
        color: #7C20BF;
    }
    .signUp .smallError{
        display: inline-block;
        margin-top: -10px;
    }
    .login .smallError{
        display: inline-block;
        margin-top: -18px;
    }
}
@media (max-width:900px) {
    .pNav{
        display: none;
    }
    .AccountnavCon{
        align-items: center;
        width: max-content;
        justify-content: flex-end;
        column-gap: 30px;
    }
}
@media (max-width:767px) {
    .pNav{
        display: none;
    }
    .AccountnavBar{
        position: unset;
        align-items: center;
    }
    .AccountnavLogo{
        top: -9px;
    }
    .AccountnavBar label{
        display: inline-block;
        z-index: 10000;
    }
    .AccountnavBar .menu{
        position: relative;
        display: block;
        width: 30px;
        height: 25px;
        z-index: 100;
    }
    .AccountnavBar label{
        display: inline-block;
    }
    .AccountnavCon{
        position: absolute;
        top: 0;
        right: -100vw;
        z-index: 10;
        width: 70vw;
        height: 100vh;
        display: none;
        flex-direction: column;
        align-items: flex-start;
        background-color: rgba(71, 10, 115);
        row-gap: 50px;
        padding: 100px 0 0 50px;
        justify-content: start;
        transition: right 1s ease-in-out;
    }
    .AccountnavCon.active {
        display: flex;
        right: 0;
        width: 100vw;
    }
    .pNav{
        display: inline;
    }

}
@media (max-width:470px) {
    form .rememberIconDiv{
        display: none;
    }
}
@media (max-width:400px) {
    .AccountnavCon{
        width: 100vw;
    }
    .login .formDiv form{
        row-gap: 18px;
    }
    .login .formDiv h2{
        font: normal normal normal 34px/45px Roboto;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .trade .formDiv h2{
        font: normal normal normal 33.5px/45px Roboto;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}
@media (max-width:319px) {
    .login .formDiv h2{
        font: normal normal normal 32px/44px Roboto;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .trade .formDiv h2{
        font: normal normal normal 29px/44px Roboto;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .Welcome .formDiv .firstH2{
        font: normal normal 100 33px/44px Roboto;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}
@media (max-width:300px) {
    .Welcome .formDiv .firstH2{
        font: normal normal 100 31px/35px Roboto;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}
@media (max-height: 850px) {
    .signUp{
        height: 800px;
    }
}
@media (max-height:750px) {
    .trade{
        max-height: 700px;
    }
}
@media (max-height:700px) {
    .login .formDiv h2{
        margin: 30px 0 40px;
    }
    .login .formDiv{
        padding: 10px 0 40px;
    }
}
@media (max-height:680px) {
    .login .formDiv{
        width: 500px;
    }
}
@media (max-height: 600px) {
    .login{
        max-height: 540px;
    }
}
@media (max-height: 570px) {
    .Welcome .formDiv{
        height: max-content;
        max-height: unset;
        row-gap: 20px;
    }
    .Welcome .formDiv .messageP{
        display: none;
    }
}
@media (max-height: 460px) {
    .Welcome .formDiv img{
        display: none;
    }
}