/* .loading{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;align-items: center;
    overflow-y: hidden;
    background-color: #7C20BF;
} */
@media (max-width: 3000px) {
    .App{
    width: 100vw;
    height: 100vh;
    background-color: #F2F3F7;
}
.App nav{
    width: 95vw;
    height: 15vh;
    max-height: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto 0;
    /* border: 1px solid; */
}
.buttonWallet{
    border: none;
    background: none;
    margin-bottom: -10px;
}
.buttonWallet:hover .wallet{
    transform: scale(1.05);
}
}
@media (max-width: 500px) {
    .App nav{
        max-height: 80px;
        justify-content: flex-end;
    }
}